<div class="user-container mt-3">
  <div class="row">
    <div class="col-md-6">
      <h5>Add New User</h5>
    </div>
    <div class="col-md-6">
      <button
        class="btn btn-dark btn-sm back-right-btn"
        (click)="navigateToUserList()"
      >
        Back to User List
      </button>
    </div>
  </div>
  <form (ngSubmit)="addUserValidation()">
    <!-- Name, Company -->
    <div class="row">
      <div class="col-md-4">
        <label>First Name</label>
        <input
          type="text"
          class="form-control"
          [(ngModel)]="user.firstName"
          name="firstName"
          required
        />
      </div>

      <div class="col-md-4">
        <label>Last Name</label>
        <input
          type="text"
          class="form-control"
          [(ngModel)]="user.lastName"
          name="lastName"
        />
      </div>

      <div class="col-md-4">
        <label>Company</label>
        <input
          type="text"
          class="form-control"
          [(ngModel)]="user.company"
          name="company"
          required
        />
      </div>
    </div>

    <!-- Sex, Role, Status -->
    <div class="row">
      <div class="col-md-4">
        <label>Sex</label>
        <select class="form-control" [(ngModel)]="user.sex" name="sex" required>
          <option value="M">Male</option>
          <option value="F">Female</option>
        </select>
      </div>

      <div class="col-md-4">
        <label>Role</label>
        <select
          class="form-control"
          [(ngModel)]="user.roleId"
          name="roleId"
          required
        >
          <option value="1">Admin</option>
          <option value="2">Manager</option>
          <option value="3">User</option>
        </select>
      </div>

      <div class="col-md-4">
        <label>Status</label>
        <select
          class="form-control"
          [(ngModel)]="user.active"
          name="active"
          required
        >
          <option [ngValue]="true">Active</option>
          <option [ngValue]="false">Inactive</option>
        </select>
      </div>
    </div>

    <!-- Contact Details -->
    <span class="mt-3">Contact Details</span>
    <div class="row">
      <div class="col-md-6">
        <label>Phone</label>
        <input
          type="text"
          class="form-control"
          [(ngModel)]="user.contact.phone"
          name="phone"
        />
      </div>

      <div class="col-md-6">
        <label>Address</label>
        <input
          type="text"
          class="form-control"
          [(ngModel)]="user.contact.address"
          name="address"
        />
      </div>

      <div class="col-md-6">
        <label>City</label>
        <input
          type="text"
          class="form-control"
          [(ngModel)]="user.contact.city"
          name="city"
        />
      </div>

      <div class="col-md-6">
        <label>Country</label>
        <input
          type="text"
          class="form-control"
          [(ngModel)]="user.contact.country"
          name="country"
        />
      </div>
    </div>

    <div class="row mt-3">
      <div class="col-md-12">
        <button type="submit" class="btn btn-success">Save</button> &nbsp;&nbsp;
        <button type="button" class="btn btn-info" (click)="resetForm()">
          Reset
        </button>
      </div>
    </div>
  </form>
</div>
